
/*?=================== Response Media ===================================================================== */
@media(max-width: 1000px) {
    .aside {
        display: flex;
        flex-direction: column;
        width: 180px;
    }
}


/*?===========================  800px  =========================================  */
@media(max-width: 800px) {
    .parent {
      width: auto;
    }
    
    .wrapper{
      width: 220px;
  }
  
  input{
      width: 150px;
      height: 30px;
      font-size: 1rem;
  }
  /* * ========================================================== */
  .check {
    font-size: .8em;
    width: 45px;
    height: 28px;
    }
  /* * ======================== Your age ==================================== */
  
  .age_information {
      width: 200px;
      font-size: 1em;
  }
  .next_birthday1, .age1 {
    height: 50px;
  }
  
  /* * =========== SUMMARY ============== */
  .answer {
      width: 200px;
      font-size: 1em;
  }
  h4 {
    margin: 4px 0;
    margin-left: 29%;
  }
  #age1, #month1, #week1, #day1, #hour1, #minute1 {
    height: 50px;
  }
  .pages {width: 200px;margin: 15px 0;}
  .pages_button {
    margin: 0;
  }
  .pages_button_a {
    margin: 1px;
    padding: 2px;
  }
  /* ?=====================================  Section Famous  ======================================================== */
  
  .section {
    width: 68vw;
    min-height: 97vh;
    max-height: 100vh;
    font-size: 1em;
    padding-bottom: 20px;
  }
  .card-title {
    font-size: 1.1em;
    margin-top: 6px;
  }
  .a {color: var(--primary-light);}
  
  /*?===================  Aside Section  ================================= */
  
  .aside {
    position: absolute;
    display: block;
    top: 380px;
    width: 200px;
    height: 640px;
  }
  
  h5 {
    line-height: 30px;
    margin: -6px 0 10px 0;
    margin-left: 20px;
    font-size: 1.5em;
  }
  
  .button {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin: 4px 0;
  }
  
  }
  
  /*?==========================  500px max =========================================== */
  
  @media(max-width: 600px) {
    .wrapper {
      position: relative;
      width: 85vw;
      /* background: #000; */
    }
    .age_information {
      width: 100%;
      font-size: 1.2em;
      padding-top: 0;
    }
    .check {
      font-size: 1.4em;
      width: 100px;
      height: 40px;
    }
    input {
      width: 200px;
      height: 40px;
      font-size: 1.6em;
    }
    .answer h4 {margin-left: 106px;}
    .answer {
      font-size: 1.2em;
      width: 100%;
    }
    .pages {width: 100%;}
    .pages_button_a {
      padding: 8px 20px;
    }
    .aside {
      width: 80vw;
      height: 350px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
      /* display: none; */
    }
    .aside h5 {
      grid-column: 1/3;
      margin-left: 40px;
      margin-top: 5px;
    }
    .button {
      margin: 0;
    }
    .parent {display: flex;justify-content: center;}
    .section {
      position: absolute;
      top: 90vh;
      width: 85vw;
      gap: 4px;
      /* display: none; */
    }
    .MyCard {
      width: 100%;
    }
    .card-body {
      width: 96%;
    }
    .card-body h5 {
      padding: 0;
      margin: 0;
    }
  }
  